{% block title %}Comment index{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="text-center">Comments</h2>
        <div class="card">
            <div class="card-body">
                {% for comment in product.getTopComments %}
                    <div class="row">
                        <div class="col-md-2">
                            {#                    <img src="{{ asset('uploads/images/' ~ comment.name.image) }}" alt="user_avatar" class="img img-rounded img-fluid"/>#}
                                                <p class="text-secondary text-center">{{ comment.createdAt|comment_date }}</p>
                        </div>
                        <div class="col-md-10">
                            <p>
                                <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>{{ comment.user.name }}</strong></a>
                            </p>
                            <div class="clearfix"></div>
                            <p>{{ comment.body}}</p>
                            <p>
                                <a class="float-right btn btn-outline-primary ml-2" id="btn-reply"> <i class="fa fa-reply"></i> Reply</a>
                                {#                    <div class="fb-like" data-href="{{ facebook_domain }}"#}
                                {#                         data-width="" data-layout="button" data-action="like" data-size="large" data-share="false"></div>#}
                            </p>
                                                {% if is_granted('ROLE_USER') %}
                                                <form name="comment" method="post" action="{{ path('add_comment_reply', {'id' : product.id, 'commentId': comment.id}) }}">

                                                    <div class="form-group">
                                                        <label for="exampleFormControlTextarea1">Ответить</label>
                                                        <textarea id="comment_body" name="body" required="required" class="form-control"></textarea>
                                                        <input type="hidden" name="token" value="{{ csrf_token('comment-token') }}"/>
                                                    </div>

                                                    <button class="btn btn-primary">Ответить</button>
                                                </form>
                                            {% endif %}
                        </div>
                    </div>
                    {% for subcomment in comment.getComments %}
                        <div class="card card-inner">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        {#                            <img src="{{ asset('uploads/images/' ~ subcomment.name.image) }}" class="img img-rounded img-fluid"/>#}
                                        {#                            <p class="text-secondary text-center">{{ subcomment.createdAt|comment_date }}</p>#}
                                    </div>
                                    <div class="col-md-10">
                                        <p><a href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>{{ subcomment.user.name }}</strong></a></p>
                                        <p>{{ subcomment.body }}</p>
                                        <p>
                                            {#                            <div class="fb-like" data-href="{{ facebook_domain }}"#}
                                            {#                                 data-width="" data-layout="button" data-action="like" data-size="large" data-share="false"></div>#}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {% if is_granted('ROLE_USER') %}
            {{ include('comment/_form.html.twig') }}
        {% endif %}
    </div>

{% endblock %}
