{% extends 'admin.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ category.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ category.title }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td>{{ category.image }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_category_index') }}">back to list</a>

    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>

    {{ include('admin/category/_delete_form.html.twig') }}
{% endblock %}
