{# {% block title %}Checkout{% endblock %} #}

{% block stylesheets %}
    <head>
        <title>Toys Shop an Ecommerce Category Bootstrap Responsive Web Template | Home :: w3layouts</title>
        <!--meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
        <script>
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);

            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
        <!--//meta tags ends here-->
        <!--booststrap-->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
        <!--//booststrap end-->
        <!-- font-awesome icons -->
        <link href="/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
        <!-- //font-awesome icons -->
        <!--Shoping cart-->
        <link rel="stylesheet" href="/css/shop.css" type="text/css"/>
        <!--//Shoping cart-->
        <!--checkout-->
        <link rel="stylesheet" type="text/css" href="/css/checkout.css">
        <!--//checkout-->
        <!--stylesheets-->
        <link href="/css/style.css" rel='stylesheet' type='text/css' media="all">
        <!--//stylesheets-->
        <link href="//fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    </head>
{% endblock %}
{% block body %}
    <div class="header-outs" id="home">
    <!-- header -->
    {% include '/parts/header.html.twig' %}
    <!-- //header -->
    <!-- banner -->
    <div class="inner_page-banner one-img">
    </div>
    <!-- short -->
    <div class="using-border py-3">
        <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="{{ '/' }}">Home</a><span> |</span></li>
                <li><p>Checkout</p></li>
            </ul>
        </div>
    </div>
    <!-- //short-->
    <!--Checkout-->
    <!-- //banner -->
    <!-- top Products -->
    <section class="checkout py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <div class="shop_inner_inf">
                <div class="privacy about">
                    <h3>Order history</h3>
                    <div class="checkout-right">
                        <table class="timetable_sub">
                            <thead>
                            <tr>
                                <th>SL No.</th>
                                <th>Product</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Total price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                {% for orderProduct in order.orderProducts %}
                                    <td class="invert">{{ order.id }}</td>
                                    <td class="invert-image"><a
                                                href="{{ path('product_show', {'id': orderProduct.product.id}) }}"><img
                                                    src="{{ asset( 'uploads/product_images/' ~ orderProduct.product.mainImage) }}"
                                                    alt=" " class="img-responsive"></a></td>
                                    <td class="invert">{{ orderProduct.product.title }}</td>
                                    <td class="invert">{{ orderProduct.product.getCurrentPrice }} $</td>
                                    <td class="invert"><span class="item-total">{{ orderProduct.cost }}</span> $</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- //top products -->
            </div>
    </section>
    {% block javascripts %}
        <!--js working-->
        <script src='/js/jquery-2.2.3.min.js'></script>
        <!--//js working-->
        <!-- cart-js -->
        <script src="/js/minicart.js"></script>
        <script>
            $(document).ready(function (c) {
                $('.close2').on('click', function (c) {
                    $('.rem2').fadeOut('slow', function (c) {
                        $('.rem2').remove();
                    });
                });
            });
        </script>
        <script>
            $(document).ready(function (c) {
                $('.close3').on('click', function (c) {
                    $('.rem3').fadeOut('slow', function (c) {
                        $('.rem3').remove();
                    });
                });
            });
        </script>
        <!--//closed-->
        <!-- start-smoth-scrolling -->
        <script src="/js/move-top.js"></script>
        <script src="/js/easing.js"></script>
        <script>
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({
                        scrollTop: $(this.hash).offset().top
                    }, 900);
                });
            });
        </script>
        <!-- start-smoth-scrolling -->
        <!-- here stars scrolling icon -->
        <script>
            $(document).ready(function () {

                var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                };
                $().UItoTop({
                    easingType: 'easeOutQuart'
                });

            });
        </script>
        <!-- //here ends scrolling icon -->
        <!--bootstrap working-->
        <script src="/js/bootstrap.min.js"></script>
        <!-- //bootstrap working-->
        <script src="{{ asset('js/cart.js') }}"></script>
        <script>
            let TOKEN = '{{ csrf_token('add_to_cart') }}'
        </script>
        <script src="{{ asset('js/vote.js') }}"></script>
    {% endblock %}
    {% include 'parts/footer.html.twig' %}
{% endblock %}