<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: fit-content">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if not cart.empty %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Cost</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cart.getItems %}
                            <tr>
                                <th scope="row">
                                    <img src="{{ asset('uploads/product_images/' ~ item.getProduct.mainImage) }}"
                                         style="width:100px;"/>
                                    <a href="{{ path('product_show', {'id': item.getProduct.id}) }}">{{ item.getTitle }}</a>
                                </th>
                                <td>{{ item.getCount }}</td>
                                <td>{{ item.getCost }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Your cart is empty</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                {% if not cart.empty %}
                    <a href="{{ path('checkout') }}" class="btn btn-primary">Checkout</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{# </div> #}